services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=modern_furniture_steel
      - MONGO_INITDB_ROOT_USERNAME=
      - MONGO_INITDB_ROOT_PASSWORD=
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    environment:
      - PORT=5000
      - NODE_ENV=production
      - MONGODB_URL=mongodb://mongodb:27017/modern_furniture_steel
      - DB_HOST=mongodb
      - DB_PORT=27017
      - DB_NAME=modern_furniture_steel
      - DB_USER=
      - DB_PASSWORD=
    depends_on:
      - mongodb
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    environment:
      - NODE_ENV=production
    networks:
      - app-network

volumes:
  mongo_data:

networks:
  app-network:
    driver: bridge